@font-face {
	font-family: vazir-light;
	src: url(fonts/Vazir-Light.woff) format("woff");
}
body {
	background-color: white;
	font-family: vazir-light;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
/* header styles */
.section-head {
	background: #80deea;
	/* height: 6rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #01739d;
	box-shadow: 0px 0px 5px 1px #769599;
}
.section-title {
	padding: 1rem 4rem;
	cursor: default;
}
/* body styles */
.menu {
	background: #e1f5fe;
	height: 100%;
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	margin: 5rem auto;
	width: 33rem;
	height: 60vh;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 10px 0px #ccc;
}
.input-form {
	width: 30rem;
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
input {
	border: 1px solid #ccc;
	border-radius: 1rem;
	font-size: 16px;
	direction: ltr;
	outline: none;
	padding: 12px 20px 12px 40px;
	width: 60%;
	background-position: 10px 10px; 
	background-size: 25px 25px;
  	background-repeat: no-repeat;
}
input:focus {
	border: 1px solid #0097cf;
}
.name-input{
	background-image: url('svg/userProfile.svg');
}
.email-input{
	background-image: url('svg/sms.svg');
}
.password-input{
	background-image: url('svg/key.svg');
}
.input-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.box form {
	display: flex;
	margin-top: 3rem;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}
.box{
	font-size: 1.2rem;
}
form button {
	font-size: 1rem;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: #0097cf;
	color: white;
	font-family: vazir-light;
	cursor: pointer;
}
form button:hover{
	opacity: 0.8;
}
form h2{
	text-align: center;
}
.errors{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: red;
	font-size: 1rem;
	font-family: vazir-light;
}
@media only screen and (max-width: 1100px) {
	.box{
	width: 50%;
	padding: 1rem;
	}
	.input-form {
		width: 45vw;
	}
	input{
		width: 50%;
	}
  }
@media only screen and (max-width: 850px) {
	.box{
	width: 60%;
	}
	.input-form {
		width: 50vw;
	}
  }
@media only screen and (max-width: 650px) {
	.box{
		width: 70vw;
		height: 70vh;
		margin: 3rem auto;
	}
	.input-form {
		width: 65vw;
		height: 80%;
	}
	.input-box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
	}
	label{
		font-size: 16px;
	}
	input{
		width: 80%;
		font-size: 14px;
		direction: ltr;
		padding: 10px 18px 10px 35px;
		background-position: 8px 8px; 
		background-size: 23px 23px;
	}
	form button {
		font-size: 1rem;
		padding: 5px;
		margin-top: 1rem;
	}
	.errors{
		font-size: 0.8rem;
	}
}